<div class="chart-wrap">
    <div class="header">
      <span class="icon" [ngClass]="getArrowClass()"></span>
      <span class="header-label">{{data.label}}</span>
    </div>
    <div class="content">
      <div class="left-content">
          <div class="date">{{data.initialData.date}}</div>
          <div class="value" [ngClass]="getValueClass()" (click)="onValueClick()">{{getInitialDataValue()}}</div>
          <div class="quantity">{{data.initialData.quantity}}</div>
      </div>
      <div class="right-content">
          <div class="date">{{data.currentData.date}}</div>
          <div class="value" [ngClass]="getValueClass()" (click)="onValueClick()">{{getCurrentDataValue()}}</div>
          <div class="quantity">{{data.currentData.quantity}}</div>
      </div>
    </div>
    <div class="source"><a href="{{data.source}}" target="_blank">Джерело</a></div>
</div>
