@import '../../../styles.scss';

.chart-wrap {
    min-height: 100px;

    .header {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: bold;
        height: 31px;

        & > span {
          vertical-align: middle;
          display: inline-block;
        }

        .header-label {
          max-width: 340px;

          &:hover {
            cursor: pointer;
          }
        }
    }

    .content {
        display: flex;

        .left-content {
          text-align: left;
          width: 100%;

          .value {
            color: #787878;
          }
        }

        .right-content {
          width: auto;
          
          .value {
            width: -webkit-max-content;
            width: -moz-max-content;
          }
        }

        .date {
            font-size: 14px;
            font-weight: bold;
        }

        .value {
            font-size: 36px;
        }

        .quantity {
          font-size: 20px;
        }
    }

    .link {
      display: flex;

      & a {
        @include link();
      }
    }

    .icon {
      background-repeat: no-repeat;
      display: inline-block;
      width: 24px;
      height: 30px;
      margin-right: 16px;

      &.still-icon {
        height: 16px;
        background: url("./images/still-icon.svg");
        background-repeat: no-repeat;
      }

      &.red-arrow-up-negative {
        background: url("./images/red-arrow-up-negative.svg");
        background-repeat: no-repeat;
      }

      &.red-arrow-down-negative {
        background: url("./images/red-arrow-down-negative.svg");
        background-repeat: no-repeat;
      }

      &.green-arrow-up-positive {
        background: url("./images/green-arrow-up-positive.svg");
        background-repeat: no-repeat;
      }

      &.green-arrow-down-positive {
        background: url("./images/green-arrow-down-positive.svg");
        background-repeat: no-repeat;
      }
    }
}

@media screen and (max-width: 380px) {
  .chart-wrap {
    .header {
      .header-label {
        max-width: 280px;
        text-align: center;
      }
    }

    .content {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left-content {
        width: 50%;
      }

      .right-content {
        width: 50%;
      }

      div:first-child {
        margin-bottom: 12px;
      }
    }
  }
}
