.header-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    padding-top: 64px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.charts-wrap {
    margin-bottom: 48px;
    width: 940px;

    .chart-line-wrap {
      display: flex;
      padding: 48px 0px;
  
      & > * {
        width: 380px;
        min-width: 320px;

        &:first-child {
          margin-right: 180px;
        }
      }
    }
}

.promises-wrap {
    margin-bottom: 60px;
    width: 940px;

    .promises-header {
      text-align: center;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;

      .promises-source {
        font-size: 14px;
        font-family: Roboto;
        color: #0078b4;
        margin-top: 8px;

        & > a {
          color: #0078b4;
          text-decoration: none;
        }
      }
    }

    .promise-content {
      overflow: hidden;
      display: grid;
      grid-template-columns: 560px 380px;

      & > * {
        width: 380px;
        min-width: 320px;
        margin-bottom: 32px;

        &:nth-child(odd) {
          margin-right: 180px;
        }
      }
    }
}

.footer-wrap {
    height: 120px;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 120px;
    color: #ffffff;

    & > label {
      vertical-align: middle;
      display: inline-block;
    }
}

@media screen and (max-width: 940px) {
  .charts-wrap {
    width: 380px;

    .chart-line-wrap {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > * {
        &:first-child {
          margin-bottom: 32px;
          margin-right: 0px;
        }
      }
    }
  }

  .promises-wrap {
    width: 380px;

    .promise-content {
      grid-template-columns: 380px;

      & > * {
        &:nth-child(odd) {
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .charts-wrap {
    max-width: 320px;

    .chart-line-wrap {
      & > * {
        width: 320px;

        &:first-child {
          margin-right: 0px;
        }
      }
    }
  }

  .promises-wrap {
    max-width: 320px;

    .promise-content {
      grid-template-columns: 320px;

      & > * {
        width: 320px;

        &:nth-child(odd) {
          margin-right: 0px;
        }
      }
    }
  }
}
