<header class="header-wrap">
  <div class="header-logo">
    <div class="logo" routerLink="/"></div>
  </div>
  <div class="header-inner">
    <div class="header-block header-block-switcher">
      @if (!switchCurrencyVisible()) {
        <div class="header-back-link">
          <label routerLink="/">Назад на головну</label>
        </div>
      }
      @if (switchCurrencyVisible()) {
        <div class="header-currency-switcher">
          <span (click)="onChangeCurrency(null)">₴</span><mat-slide-toggle [disableRipple]="true" [checked]="isUSDChecked()" (change)="onChangeCurrency($event)">$</mat-slide-toggle>
        </div>
      }
    </div>
    <div class="header-block">
      <div class="header-label">
        <label>Стежимо за успіхами влади</label>
        <label>З любов'ю до України ❤️</label>
      </div>
    </div>
    <div class="header-block">
      <div class="header-help">
        <label (click)="showDonateDialog()">Допомогти проекту</label>
      </div>
    </div>
  </div>
</header>
<section class="content-wrap">
  <router-outlet></router-outlet>
</section>
<footer class="footer-wrap" [ngClass]="footerAdditionClass()">
  <div class="footer-text">
    <label>Створено народом України 🇺🇦</label>
    <br>
      <a class="mailto" href="mailto:admin@checkpromise.info">Зворотній зв'язок</a>
    </div>
    <div class="footer-share">
      <a class="share-icon twitter twitter-hashtag-button" target="_blank" href="https://twitter.com/intent/tweet?url=https://www.checkpromise.info"></a>
      <a class="share-icon facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.checkpromise.info%2F&amp;src=sdkpreparse"></a>
      <a class="share-icon telegram" target="_blank" href="https://t.me/checkpromise_info_bot"></a>
      <a class="share-icon viber" target="_blank" href="viber://pa?chatURI=checkpromise_info"></a>
    </div>
  </footer>
