<div class="page-wrap">
  <div class="header-wrap">
    <label>Стежимо за успіхами влади</label>
    <label>З любов'ю до України ❤️</label>
  </div>
  <div class="content-wrap">
    <div class="charts-wrap">
        <ng-container *ngFor="let chart of chartData; let i = index; let even = even;">
          <div class="chart-line-wrap" *ngIf="even">
            <app-chart [data]="chartData[i]"></app-chart>
            <app-chart [data]="chartData[i + 1]"></app-chart>
          </div>
          <mat-divider *ngIf="even"></mat-divider>
        </ng-container>
    </div>
    <div class="promises-wrap">
      <div class="promises-header">
          <label>Передвиборчі обіцянки</label>
          <div class="promises-source"><a href="https://nv.ua/ukr/ukraine/politics/internet-referendumi-i-privatna-osvita-golovni-obicyanki-z-peredviborchoji-programi-volodimira-zelenskogo-50005828.html?prefer_lang=ukr&fbclid=IwAR3ovhM58KzMo3ferkmJ9vakmxkUOrrZFhK2q77Y2JYDKB9UYd19u5hroWg" target="_blank">Джерело</a></div>
      </div>
      <div class="promise-content">
        <ng-container *ngFor="let promise of promiseData;">
          <app-checkbox [checked]="promise.completed">{{promise.description}}</app-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="footer-wrap">
    <div class="footer-text">
      <label>Створено народом України 🇺🇦</label>
      <br>
      <a class="mailto" href="mailto:admin@checkpromise.info">Зоротний зв’язок</a>
    </div>
  </div>
</div>
