@import '../styles.scss';

.header-wrap {
    font-size: 24px;
    line-height: 36px;
    padding-top: 48px;
    display: flex;
    justify-content: center;

    .header-inner {
      display: flex;
      width: 940px;
    }

    .header-block {
      width: 33.333%;

      & > a {
        @include link();
      }
    }

    .header-currency-switcher {
      margin-top: 24px;
      float: left;

      & > span {
        margin-right: 8px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .header-label {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .header-help {
      margin-top: 24px;
      float: right;
      & > label {
        @include link();
      }
    }
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-wrap {
    height: 120px;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    color: #ffffff;

    .footer-text {
      margin-top: 20px;
      margin-bottom: 16px;
      display: inline-block;
      width: 100%;

      .mailto {
        @include link();
      }
    }

    .footer-share {
      height: 20px;
      display: inline-block;
      width: 100%;

      .share-icon {
        height: 20px;
        width: 56px;
        display: inline-block;
        margin-right: 16px;

        &:hover {
          cursor: pointer;
        }

        &:last-child {
          margin-right: 0px;
        }

        &.twitter {
          background: url("./images/tweet.svg");
          background-repeat: no-repeat;
        }

        &.facebook {
          background: url("./images/facebook.svg");
          background-repeat: no-repeat;
        }
      }
    }
}

@media screen and (max-width: 940px) {
  .header-wrap {
    .header-inner {
      width: 380px;
      flex-direction: column;
      text-align: center;

      .header-block {
        width: 100%;

        &.header-block-switcher {
          order: 1;
        }
      }

      .header-currency-switcher {
        float: none;
        margin-top: 0px;
      }

      .header-help {
        float: none;
        margin-top: 0px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .header-wrap {
    .header-inner {
      max-width: 320px;
    }
  }
}