.header-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    padding-top: 64px;
}

.content-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.charts-wrap {
    margin-bottom: 48px;
    max-width: 940px;
}

.chart-line-wrap {
    display: flex;
    padding: 48px 0px;

    & > * {
        width: 380px;

        &:first-child {
          margin-right: 180px;
        }
    }
}

.promises-wrap {
    margin-bottom: 60px;
    max-width: 940px;
}

.promises-header {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-bottom: 40px;
}

.promise-content {
  overflow: hidden;

    & > * {
        margin-bottom: 32px;
        width: 380px;
    }
}

.footer-wrap {
    height: 120px;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 120px;
    color: #ffffff;

    & > label {
      vertical-align: middle;
      display: inline-block;
    }
}

@media screen and (max-width: 600px) {
  .chart-line-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > * {
      width: 100%;

      &:first-child {
        margin-bottom: 32px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .promise-content {
    & app-checkbox {
      width: 100%;
    }
  }
}
