<app-mask [visible]="isLoading()"></app-mask>
<div class="indicators-wrap">
  @for (indicator of indicatorData(); track indicator; let i = $index; let even = $even) {
    @if (even) {
      <div class="indicator-line-wrap">
        <app-indicator [data]="indicatorData()[i]" [invertValue]="isUSDChecked()"></app-indicator>
        <app-indicator [data]="indicatorData()[i + 1]" [invertValue]="isUSDChecked()"></app-indicator>
      </div>
    }
    @if (even) {
      <mat-divider></mat-divider>
    }
  }
</div>
<div class="promises-wrap">
  <div class="promises-header">
    <label>Передвиборчі обіцянки</label>
  </div>
  <div class="promise-content-filters">
    <button mat-flat-button class="blue" (click)="onPromiseFilterButtonClick(0)">Всі обіцянки</button>
    <button mat-flat-button class="green" (click)="onPromiseFilterButtonClick(1)">Виконане</button>
    <button mat-flat-button class="red" (click)="onPromiseFilterButtonClick(2)">Не виконане</button>
  </div>
  <div class="promise-content">
    @for (promise of renderedPromiseData(); track promise) {
      <div class="promise-wrap">
        <app-checkbox [status]="promise.status">{{promise.description}}</app-checkbox>
        <div class="promises-source"><a href="{{promise.source}}" target="_blank">Джерело</a></div>
      </div>
    }
  </div>
</div>
