<div class="indicators-wrap">
    <ng-container *ngFor="let indicator of indicatorData; let i = index; let even = even;">
      <div class="indicator-line-wrap" *ngIf="even">
        <app-indicator [data]="indicatorData[i]" [invertValue]="isUSDChecked"></app-indicator>
        <app-indicator [data]="indicatorData[i + 1]" [invertValue]="isUSDChecked"></app-indicator>
      </div>
      <mat-divider *ngIf="even"></mat-divider>
    </ng-container>
</div>
<div class="promises-wrap">
  <div class="promises-header">
      <label>Передвиборчі обіцянки</label>
      <div class="promises-source"><a href="https://nv.ua/ukr/ukraine/politics/internet-referendumi-i-privatna-osvita-golovni-obicyanki-z-peredviborchoji-programi-volodimira-zelenskogo-50005828.html?prefer_lang=ukr&fbclid=IwAR3ovhM58KzMo3ferkmJ9vakmxkUOrrZFhK2q77Y2JYDKB9UYd19u5hroWg" target="_blank">Джерело</a></div>
  </div>
  <div class="promise-content">
    <ng-container *ngFor="let promise of promiseData;">
      <app-checkbox [checked]="promise.completed">{{promise.description}}</app-checkbox>
    </ng-container>
  </div>
</div>