<app-mask [visible]="isLoading"></app-mask>
<div class="indicators-wrap">
    <ng-container *ngFor="let indicator of indicatorData; let i = index; let even = even;">
      <div class="indicator-line-wrap" *ngIf="even">
        <app-indicator [data]="indicatorData[i]" [invertValue]="isUSDChecked"></app-indicator>
        <app-indicator [data]="indicatorData[i + 1]" [invertValue]="isUSDChecked"></app-indicator>
      </div>
      <mat-divider *ngIf="even"></mat-divider>
    </ng-container>
</div>
<div class="promises-wrap">
  <div class="promises-header">
      <label>Передвиборчі обіцянки</label>
  </div>
  <div class="promise-content">
    <ng-container *ngFor="let promise of promiseData;">
      <div class="promise-wrap">
        <app-checkbox [status]="promise.status">{{promise.description}}</app-checkbox>
        <div class="promises-source"><a href="{{promise.source}}" target="_blank">Джерело</a></div>
      </div>
    </ng-container>
  </div>
</div>