.header-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.charts-wrap {
    margin-bottom: 60px;
}

.chart-line-wrap {
    display: flex;
    padding: 48px;

    & > * {
        width: 50%;
    }
}

.promises-wrap {
    margin-bottom: 60px;
}

.promises-header {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-bottom: 40px;
}

.promise-content {
  overflow: hidden;
  padding: 0px 50px;

    & app-checkbox {
        margin-bottom: 32px;
        display: block;
        float: left;
        width: 50%;
    }
}

.footer-wrap {
    height: 120px;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .chart-line-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .promise-content {
    & app-checkbox {
      width: 100%;
    }
  }
}
