.header-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.charts-wrap {
    margin-bottom: 60px;
}

.chart-line-wrap {
    display: flex;
    padding: 48px;
    
    & > * {
        width: 50%;
    }
}

.promises-wrap {
    margin-bottom: 60px;
}

.promises-header {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-bottom: 40px;
}

.promise-content {
    display: flex;

    & > * {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & mat-checkbox {
        width: 300px;
        margin-bottom: 32px;
        display: block;
    }
}

.footer-wrap {
    height: 120px;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    vertical-align: middle;
}