<div class="page-wrap">
  <div class="header-wrap">
    <label>Стежимо за успіхами діючої влади</label>
    <label>З любов'ю до України</label>
  </div>
  <div class="content-wrap">
    <div class="charts-wrap">
        <ng-container *ngFor="let chart of chartData; let i = index; let even = even;">
          <div class="chart-line-wrap" *ngIf="even">
            <app-chart [data]="chartData[i]"></app-chart>
            <app-chart [data]="chartData[i + 1]"></app-chart>
          </div>
          <mat-divider *ngIf="even"></mat-divider>
        </ng-container>
    </div>
    <div class="promises-wrap">
      <div class="promises-header">
          <label>Передвиборчі обіцянки</label>
      </div>
      <div class="promise-content">
        <mat-grid-list [cols]="breakpoint" rowHeight="5:1" (window:resize)="onResize($event)">
          <mat-grid-tile *ngFor="let promise of promiseData;">
            <app-checkbox [checked]="promise.completed">{{promise.description}}</app-checkbox>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
  <div class="footer-wrap">
    <label>Створено народом України</label>
  </div>
</div>
