<div class="page-wrap">
  <div class="header-wrap">
    <label>Стежимо за успіхами діючої влади</label>
    <label>З любов'ю до України</label>
  </div>
  <div class="content-wrap">
    <div class="charts-wrap">
        <div class="chart-line-wrap">
            <app-chart label="Курс доллара (UAH за 1 USD)"></app-chart>
            <app-chart label="Курс доллара (UAH за 1 USD)"></app-chart>
        </div>
        <mat-divider></mat-divider>
        <div class="chart-line-wrap">
            <app-chart label="Курс доллара (UAH за 1 USD)"></app-chart>
            <app-chart label="Курс доллара (UAH за 1 USD)"></app-chart>
        </div>
        <mat-divider></mat-divider>
        <div class="chart-line-wrap">
            <app-chart label="Курс доллара (UAH за 1 USD)"></app-chart>
            <app-chart label="Курс доллара (UAH за 1 USD)"></app-chart>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="promises-wrap">
      <div class="promises-header">
          <label>Передвиборчі обіцянки</label>
      </div>
      <div class="promise-content">
        <div>
            <mat-checkbox disabled="true">Знизити вартість комунальних послуг.</mat-checkbox>
            <mat-checkbox disabled="true">Прийняття законопроектів про імпічмент президента, скасування недоторканності депутатів і суддів.</mat-checkbox>
            <mat-checkbox disabled="true">Прийняти новий виборчий кодекс.</mat-checkbox>
            <mat-checkbox disabled="true" checked="true">Ввести одноразову "нульову декларацію" для бізнесу": кожен бізнесмен за 5% зможе задекларувати і легалізувати свої доходи.</mat-checkbox>
            <mat-checkbox disabled="true">Кардинально переглянути привілеї президента (продати державні літаки, виїхати з Адміністрації президента на Банковій, відмовитися від кортежів та перекривання доріг).</mat-checkbox>
            <mat-checkbox disabled="true">Перезапустити реформу судів та силових структур, а також антикорупційної інфраструктури, створити Службу фінансових розслідувань.</mat-checkbox>
            <mat-checkbox disabled="true">Вийти з бізнесу.</mat-checkbox>
        </div>
        <div>
            <mat-checkbox disabled="true">Закінчити війну.</mat-checkbox>
            <mat-checkbox disabled="true" checked="true">Домогтися розширення Нормандськогоформату (запросивши до участі Велику Британію і США).</mat-checkbox>
            <mat-checkbox disabled="true">Заробітна плата вчителям $ 4,000.</mat-checkbox>
            <mat-checkbox disabled="true">Не йти на компроміси в питаннях про приналежність Україні Криму та окупованих територій Донецької і Луганської областей.</mat-checkbox>
            <mat-checkbox disabled="true">Перезапустити реформу судів та силових структур, а також нтикорупційної інфраструктури, створити Службу фінансових розслідувань.</mat-checkbox>
            <mat-checkbox disabled="true">Прийняття пакету законопроектів про народовладдя.</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrap">
    <label>Створено народом України</label>
  </div>
</div>
