:host {
  display: block;
}

.wrap {
  color: #888888;
  font-size: 20px;
  display: inline-flex;

  & > span {
    display: inline-block;
    min-height: 32px;
    vertical-align: middle;
  }

  .icon-wrap {
    width: 32px;
    min-height: 32px;
    margin-right: 16px;

    .icon {
      width: 32px;
      height: 32px;
      background: url("./images/unchecked.svg");
      background-repeat: no-repeat;

      &.checked {
        background: url("./images/checked.svg");
        background-repeat: no-repeat;
      }

      &.crossed {
        background: url("./images/crossed.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .content {
    min-height: 32px;

    &.checked {
      color: #00b259;
    }

    &.crossed {
      color: #f56969;
    }
  }
}
