@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin link() {
    color: #0078b4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
}

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 320px;
    margin: 0;
    color: #333333;
    height: 100%;
    
    .mat-slide-toggle {

        &.cdk-focused {
            .mat-slide-toggle-bar {
                .mat-slide-toggle-persistent-ripple {
                    background-color: #000;
                    opacity: 0;
                }
            }
        }

        &.mat-checked {
            .mat-slide-toggle-bar {
                background-color: #9060eb;

                .mat-slide-toggle-thumb {
                    background-color: #fafafa;
                }

                .mat-ripple-element {
                    background-color: #000;
                    opacity: 0;
                }
            }
        }

        .mat-slide-toggle-bar {
            background-color: #00b259;
            
            .mat-slide-toggle-thumb {
                background-color: #fafafa;
            }

            .mat-ripple-element {
                background-color: #000;
                opacity: 0;
            }
        }
    }
}
