@import '../../../styles.scss';

.page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  margin-bottom: 60px;
}

.link {
  & > a {
    @include link();
  }
}

.header-wrap {
  text-align: left;
  width: 940px;
  margin-bottom: 34px;

  .link {
    margin-bottom: 34px;
  }

  .indicator-wrap {
    width: 380px;
  }
}

.graph-wrap {
  width: 940px;
  margin-bottom: 24px;
}

.mediaInfo-wrap {
  width: 940px;

  .mediaInfo-header {
    line-height: 28px;
    font-size: 24px;
  }

  .mediaInfo-content {
    display: flex;
    flex-direction: column;
  }

  .mediaInfo-link{
    margin-top: 16px;
    
    @include link()
  }
}

@media screen and (max-width: 940px) {
  .header-wrap {
    width: 380px;
  }
  
  .graph-wrap {
    width: 380px;
  }

  .mediaInfo-wrap {
    width: 380px;
  }
}

@media screen and (max-width: 380px) {
  .header-wrap {
    width: 320px;
    padding-left: 0px;

    .link {
      text-align: center;
    }

    .indicator-wrap {
      width: 320px;
    }
  }
  
  .graph-wrap {
    width: 300px;
  }

  .mediaInfo-wrap {
    width: 300px;
    padding: 0px 10px;
  }
}