.wrap {
    font-size: 14px;
    align-items: center;
    text-align: center;
    min-height: 20px;
    justify-content: space-between;
    line-height: 20px;
    opacity: 1;
    pointer-events: auto;
}

.text {
    line-height: 20px;
    pointer-events: auto;
}